#fireFox > path {
  fill-opacity: 0.0000001;
  stroke-width: 10px;
}

#fireFox1 {
  stroke-dasharray: 12157.626953125px;
  stroke-dashoffset: 12157.626953125px;
  animation: stranim 3s ease-in-out 0s forwards, fillanim 1.5s ease-in-out 2.4s forwards;
}

#fireFox2 {
  stroke-dasharray: 2911.82470703125px;
  stroke-dashoffset: 2911.82470703125px;
  animation: stranim 3s ease-in-out 0.2s forwards, fillanim 1.5s ease-in-out 2.5s forwards;
}

#fireFox3 {
  stroke-dasharray: 3315.058349609375px;
  stroke-dashoffset: 3315.058349609375px;
  animation: stranim 3s ease-in-out 0.4s forwards, fillanim 1.5s ease-in-out 2.6s forwards;
}

#fireFox4 {
  stroke-dasharray: 3443.279296875px;
  stroke-dashoffset: 3443.279296875px;
  animation: stranim 3s ease-in-out 0.6s forwards, fillanim 1.5s ease-in-out 2.7s forwards;
}

#fireFox5 {
  stroke-dasharray: 8901.6025390625px;
  stroke-dashoffset: 8901.6025390625px;
  animation: stranim 3s ease-in-out 0.8s forwards, fillanim 1.5s ease-in-out 2.8s forwards;
}

#fireFox6 {
  stroke-dasharray: 894.7145385742188px;
  stroke-dashoffset: 894.7145385742188px;
  animation: stranim 3s ease-in-out 1s forwards, fillanim 1.5s ease-in-out 2.9s forwards;
}

#fireFox7 {
  stroke-dasharray: 4201.8681640625px;
  stroke-dashoffset: 4201.8681640625px;
  animation: stranim 3s ease-in-out 1.2s forwards, fillanim 1.5s ease-in-out 3s forwards;
}

#fireFox8 {
  stroke-dasharray: 4201.8681640625px;
  stroke-dashoffset: 4201.8681640625px;
  animation: stranim 3s ease-in-out 1.4s forwards, fillanim 1.5s ease-in-out 3.1s forwards;
}

#fireFox9 {
  stroke-dasharray: 2399.7216796875px;
  stroke-dashoffset: 2399.7216796875px;
  animation: stranim 3s ease-in-out 1.6s forwards, fillanim 1.5s ease-in-out 3.2s forwards;
}

#fireFox10 {
  stroke-dasharray: 8345.2119140625px;
  stroke-dashoffset: 8345.2119140625px;
  animation: stranim 3s ease-in-out 1.8s forwards, fillanim 1.5s ease-in-out 3.3s forwards;
}

#fireFox11 {
  stroke-dasharray: 8345.2119140625px;
  stroke-dashoffset: 8345.2119140625px;
  animation: stranim 3s ease-in-out 2s forwards, fillanim 1.5s ease-in-out 3.4s forwards;
}

#fireFox12 {
  stroke-dasharray: 8619.8857421875px;
  stroke-dashoffset: 8619.8857421875px;
  animation: stranim 3s ease-in-out 2.2s forwards, fillanim 1.5s ease-in-out 3.5s forwards;
}
