#njs {
  stroke-dasharray: 1104.76318359375px;
  stroke-dashoffset: 1104.76318359375px;
  animation: stranim 6s ease-in-out 2.6s forwards, fillanim 1s ease-in-out 6.5s forwards;
}
#Njs {
  stroke-dasharray: 765.3524780273438px;
  stroke-dashoffset: 765.3524780273438px;
  animation: stranim 4.3s ease-in-out 2.2s forwards, fillanim 1s ease-in-out 5.3s forwards;
}
