#postgres {
  animation-delay: 7s !important;
}

#postgresStroke {
  stroke-dasharray: 833.6484985351562px;
  stroke-dashoffset: 833.6484985351562px;
  animation: stranim 8.7s ease-in-out 2.8s forwards;
}
