.table-click tr:hover {
	cursor: pointer;
}
.theme-light body {
	background-color: #eee;
}
.theme-light .box {
	background-color: #fff;
}
.theme-light tbody tr:hover {
	background-color: #eee;
}
.theme-light .theme-dark-el {
	display: none;
}
.theme-light td,
.theme-light th {
	border-bottom: 1px solid #ddd;
}
.theme-light thead {
	border-bottom: 2px solid #ccc;
}
.theme-light hr {
	width: 100%;
	color: #eee;
}
.theme-light .box-squash .box-squash-btn {
	fill: #55b;
}
.theme-dark body {
	background-color: #111;
	color: #fff;
}
.theme-dark .box {
	background-color: #444;
}
.theme-dark .wr-name {
	color: #bbf;
}
.theme-dark a {
	color: #bbf;
}
.theme-dark input {
	color: #eee;
}
.theme-dark tbody tr:hover {
	background-color: #555;
}
.theme-dark .theme-light-el {
	display: none;
}
.theme-dark td,
.theme-dark th {
	border-bottom: 1px solid #666;
}
.theme-dark thead {
	border-bottom: 2px solid #777;
}
.theme-dark hr {
	width: 100%;
	color: #666;
}
.theme-dark .box-squash .box-squash-btn {
	fill: #fff;
}
* {
	box-sizing: border-box;
	transition: background-color 0.2s;
}
h1 {
	font-size: 1.3em;
	font-weight: 400;
	margin: 0;
}
h2 {
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
}
table * {
	transition: background-color 0s;
}
body {
	margin: 0;
	margin-top: 0;
	font-family: IBMPlexSans, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#main {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 60px;
	flex: 1;
}
.row {
	display: flex;
	flex-wrap: nowrap;
}
.wr-name {
	color: #55b;
}
#pd-loadmore {
	display: inline-block;
}
#pd-close {
	float: right;
}
.btn-cont {
	height: 40px;
}
#bs-send-payment {
	float: right;
	width: 49%;
}
#bs-payment-link {
	float: left;
	width: 49%;
}
.box-min .box-minmax svg {
	transform: rotate(180deg);
}
.box-min .box-inner {
	display: none;
}
.box-squash .wr-e {
	display: none;
}
.box-squash .box-squash-btn {
	background-color: transparent;
}
.row::after {
	content: '';
	clear: both;
	display: table;
}
.col-3 {
	width: 33.333%;
	display: flex;
}
.col-3 .box {
	width: 100%;
}
.box-minmax {
	float: right;
}
#box-worker-det-close {
	float: right;
}
#dash-search-auto-update {
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	padding-top: 9px;
}
#pd-threshold {
	padding-top: 9px;
}
.pd-threshold-mod {
	width: 100%;
	height: 40px;
	display: inline-block;
}
.pd-threshold-mod :first-child {
	float: left;
}
.pd-threshold-mod :last-child {
	float: right;
}
.pd-threshold-mod div {
	display: inline-block;
	vertical-align: middle;
}
.pd-threshold-mod .box-btn {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	height: 39px;
}
.box-btn {
	width: 40px;
	height: 40px;
	padding-top: 11px;
	padding-left: 11px;
	padding-right: 11px;
	border-style: solid;
	border-color: #55b;
	border-width: 1px;
	fill: #fff;
	background-color: #55b;
	color: #fff;
}
.box-btn:hover {
	cursor: pointer;
	background-color: #99b;
}
.box-btn:active {
	background-color: #fff;
	fill: #000;
	color: #000;
}
.box {
	height: auto;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table-box-worker-detail div {
	display: inline-block;
	padding-right: 10px;
}
.table-box-worker-detail span {
	font-size: 1.2em;
}
.table-box {
	position: fixed;
	left: 0;
	right: 0;
	top: 60px;
	z-index: 10;
}
.table-box * {
	white-space: normal;
}
.box-zoom {
	float: right;
	height: 40px;
}
.box-zoom div {
	display: inline-block;
	border-style: solid;
	border-right: none;
	border-color: #55b;
	border-width: 1px;
	height: 40px;
	margin: 0;
	padding-top: 11px;
	padding-left: 11px;
	padding-right: 11px;
}
.box-zoom div:hover {
	cursor: pointer;
	background-color: #99b;
	color: #fff;
}
.box-zoom .box-zoom-active {
	background-color: #55b;
	color: #fff;
}
.box-search {
	float: right;
	height: 40px;
}
.box-search .box-input-cont {
	vertical-align: top;
}
.box-search div {
	display: inline-block;
}
.box-search input {
	height: 40px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: 0 0;
	border: solid;
	border-color: #55b;
	border-width: 1px;
	padding-left: 12px;
	padding-right: 7px;
}
.box-search input:hover {
	background: #99b;
	color: #fff;
}
.box-search input:focus {
	background: #bbd;
	color: #000;
}
.box-head {
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.2em;
	display: inline-block;
}
.box-inner {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.dash-search:hover .dash-search-dropdown {
	display: block;
}
.box-btn-24 div {
	display: inline-block;
	vertical-align: middle;
}
.box-btn-txt {
	width: auto;
	color: #fff;
	padding-top: 6px;
	margin-top: 5px;
}
.box-btn-txt div {
	padding-top: 2px;
	display: block;
}
.box-btn-txt .svg-cont-t {
	float: right;
	padding-left: 10px;
	padding-top: 0;
}
.box-btn-txt:active {
	color: #55b;
}
.dash-search {
	height: 40px;
	border: solid;
	border-width: 1px;
	position: relative;
	border-color: #55b;
	display: flex;
}
.dash-search input {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: 0 0;
	border: none;
	padding-left: 7px;
	padding-right: 7px;
}
.dash-search input:hover {
	color: #fff;
	background: #99b;
}
.dash-search input:focus {
	background: #bbd;
	color: #000;
}
.dash-search .box-btn {
	border: none;
	height: 39px;
}
.dash-search #dash-search-dropdown {
	margin-top: 39px;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 2;
	background-color: #55b;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dash-search #dash-search-dropdown span {
	display: block;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	width: 100%;
	padding-right: 7px;
}
.dash-search #dash-search-dropdown span:hover {
	background-color: #99b;
	cursor: pointer;
}
#chart-worker-detail {
	display: block;
	min-height: 500px;
}
#chart-hashrate {
	min-height: 500px;
}
#chart-conns {
	min-height: 200px;
}
tbody td,
tbody th {
	height: 35px;
}
.worker-td-spark {
	padding-bottom: 0;
	width: 150px;
}
.worker-td-spark canvas {
	vertical-align: bottom;
}
thead {
	height: 15px;
}
thead .svg-container {
	display: inline;
	padding-top: 1px;
}
.box-headline {
	padding-top: 20px;
	text-align: center;
}
.box-headline .box-top {
	height: 75px;
}
.box-headline .box-top span {
	display: block;
	height: 50px;
}
.box-headline .box-middle {
	height: 75px;
}
.box-headline .bs-bal-pend span {
	height: 50px;
	padding-top: 5px;
	font-size: 2em;
}
.box-headline .bs-list {
	position: relative;
	text-align: left;
	line-height: 1.5;
}
.box-headline .bs-list span {
	position: absolute;
	right: 5px;
	font-size: 1.2em;
}
.box-headline .bs-workers .bs-workers-1 {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 2em;
}
.box-headline .svg-cont {
	display: inline;
	vertical-align: middle;
	padding-top: 8px;
}
.box-headline .hr-cont {
	display: inline-block;
	width: 120px;
	padding-top: 5px;
}
.box-headline .hr-cont span {
	font-size: 1.25em;
}
.box-headline .market-cont {
	display: inline-block;
	width: 80px;
	padding-top: 5px;
}
.box-headline .market-cont span {
	font-size: 1.25em;
}
.box-headline .bs-ht-top {
	font-size: 2.5em;
}
.box-headline .bs-link {
	padding-top: 10px;
}
.box-headline a {
	padding-top: 10px;
	font-size: 2em;
	text-decoration: none;
	color: #55b;
	fill: #55b;
}
.box-headline a:hover {
	color: #99b;
	fill: #99b;
	cursor: pointer;
}
.box-overflow {
	overflow-x: auto;
}
.d-info-cont {
	display: inline-block;
	width: 220px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1em;
}
.d-info-cont span {
	font-size: 1.5em;
}
.img-pie {
	width: 100%;
	max-width: 800px;
}
@media only screen and (max-width: 1100px) {
	.col-3 {
		width: 50%;
	}
	.row {
		flex-wrap: wrap;
	}
	#col-user-stats {
		width: 100%;
	}
	#chart-hashrate {
		min-height: 300px;
	}
	.box {
		margin-left: 10px;
		margin-right: 10px;
	}
	#main {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (max-width: 700px) {
	.col-3 {
		width: 100%;
	}
	.row {
		flex-wrap: wrap;
	}
	.box {
		margin-left: 5px;
		margin-right: 5px;
	}
	.box-inner {
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 10px;
	}
	#main {
		margin-left: 5px;
		margin-right: 5px;
	}
	.table-box-worker-detail div {
		display: block;
	}
	.table-box-worker-detail span {
		font-size: 1em;
	}
	.table-box {
		top: 0;
		z-index: 10;
	}
	.d-info-cont {
		width: 150px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 0.8em;
	}
	.d-info-cont span {
		font-size: 1.3em;
	}
}
.uplot,
.uplot *,
.uplot ::after,
.uplot ::before {
	box-sizing: border-box;
}
.uplot {
	line-height: 1.5;
}
.uplot .title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
.uplot .wrap {
	position: relative;
	user-select: none;
}
.uplot .over,
.uplot .under {
	position: absolute;
	overflow: hidden;
}
.uplot canvas {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.uplot > .legend {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 90%;
	margin: 0 auto;
}
.uplot > .legend > .series {
	width: 180px;
	text-align: left;
}
.uplot > .legend > .series div:first-of-type:hover {
	cursor: pointer;
	color: #55b;
}
.uplot .legend {
	font-size: 14px;
	margin: auto;
	text-align: center;
}
.uplot .legend.inline {
	display: inline-block;
}
.uplot .legend.inline * {
	display: inline-block;
}
.uplot .legend .ident {
	width: 1em;
	height: 1em;
	margin-right: 4px;
	border: 2px solid transparent;
}
.uplot .legend .series > * {
	padding: 4px;
}
.uplot .legend .off > * {
	opacity: 0.3;
}
.uplot .select {
	background: rgba(0, 0, 0, 0.07);
	position: absolute;
	pointer-events: none;
}
.uplot .select.off {
	display: none;
}
.uplot .cursor-x,
.uplot .cursor-y {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	z-index: 100;
}
.uplot .cursor-x {
	height: 100%;
	border-right: 1px dashed #607d8b;
}
.uplot .cursor-y {
	width: 100%;
	border-bottom: 1px dashed #607d8b;
}
.uplot .cursor-pt {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	filter: brightness(85%);
	pointer-events: none;
	will-change: transform;
	z-index: 100;
}
.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
	background-color: #a00;
	color: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header .header-content {
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 20px;
	height: 50px;
}
.navbar-logo {
	padding-top: 15px;
	height: 100%;
}
#btn-theme {
	float: right;
	padding-top: 9px;
	padding-left: 9px;
	width: 50px;
	height: 50px;
}
#btn-theme:hover {
	background-color: #a55;
}
.navbar-search {
	float: right;
	margin-top: 10px;
	height: 30px;
	border: solid;
	border-width: 1px;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
}
.navbar-search span {
	display: block;
	padding-right: 4px;
}
.navbar-search svg {
	padding-top: 2px;
	display: block;
	margin: 0 auto;
	height: 18px;
	fill: #fff;
}
.navbar-search:hover {
	background-color: #a55;
	cursor: pointer;
}
.navbar-logo {
	padding-top: 15px;
}
.navbar {
	float: right;
	margin: auto;
	list-style-type: none;
	padding-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
}
.navbar li {
	padding-top: 0;
	display: inline-block;
}
.navbar li a {
	display: inline-block;
	height: 50px;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #fff;
}
.navbar li a:hover {
	background-color: #a55;
	cursor: pointer;
}
.navbar li .current {
	border-bottom: solid;
	border-bottom-color: #fff;
}
.navbar-btn {
	display: none;
}
@media only screen and (max-width: 780px) {
	.navbar {
		display: none;
	}
	.navbar-btn {
		float: right;
		display: block;
		width: 50px;
		height: 50px;
		padding-top: 13px;
		padding-left: 13px;
		fill: #fff;
	}
	.navbar-btn:hover {
		background-color: #a55;
	}
	.navbar-btn:active {
		background-color: #fff;
		fill: #a00;
	}
	.navbar.navbar-resp {
		width: 100%;
		background-color: #a00;
		display: block;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		height: auto;
		z-index: 2;
		padding-left: 0;
	}
	.navbar.navbar-resp li {
		display: block;
	}
	.navbar.navbar-resp a {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 30px;
		display: block;
		width: 100%;
	}
	.navbar.navbar-resp a.current {
		border: none;
		background-color: #a55;
	}
}
thead th {
	padding-right: 7px;
}
table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.table-container {
	overflow-x: auto;
}
td,
th {
	white-space: nowrap;
	padding-left: 5px;
}
#heading {
	text-align: center;
	padding-bottom: 10px;
}
th canvas {
	display: block;
}
thead th:hover {
	color: #55b;
	fill: #55b;
	cursor: pointer;
}
.footer {
	background-color: #555;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin-top: 20px;
}
.footer a {
	color: #ccf;
	text-decoration: none;
}
