.sidenav {
	border: 0.3% solid $extra;

	//justify-content: center;
	//margin: auto;
	width: 11.7%;
	height: 100%;
	position: fixed;
	//z-index: 1;
	background-color: $body;
	overflow-x: hidden;
	padding-top: 0%;
	//animation: slideInLeft 0.3s ease-in-out;
	a {
		transition: 500ms linear;
		//top: 60%;
		padding: 4% 10% 5% 4%;
		text-decoration: none;
		font-size: 2em;
		color: #818181;
		display: flex;
		.main {
			margin-left: 10%;
			padding: 0px 3%;
		}
		&:hover {
			transform: scale(1.1);
			color: $extra2;
		}
	}
}
