---
---

<ul class="steps steps-vertical">
  <li class="step step-neutral">
    <p>Contacting me!</p>
  </li>
  <li data-content="" class="step step-info">
    <p>Discord <a isExternal class="link" href="https://discord.gg/mY8zTARu4g">discord.gg/mY8zTARu4g </a></p>
  </li>
  <li data-content="" class="step step-info">
    <p>Matrix <a isExternal class="link" href="https://matrix.to/#/#tricked-hangout:matrix.org">matrix.to/#/#tricked-hangout:matrix.org</a></p>
  </li>
  <li data-content="" class="step step-info">Email's trickedcodes@tutanota.com, tricked@duck.com</li>
  <li data-content="" class="step step-info">
    <p>Github <a isExternal class="link" href="https://github.com/Tricked-dev">github.com/Tricked-dev</a></p>
  </li>
</ul>
