---
import Links from "./Links.svelte";
import ThemeSelect from "./ThemeSelect.svelte";
const { lang } = { ...{ lang: Astro.request.url.pathname.split("/")[0] || "en" }, ...Astro.request.params, ...Astro.props };
let links = [
  {
    name: "Home",
    route: "/",
  },
  {
    name: "Projects",
    route: "/projects",
  },
  {
    name: "Posts",
    route: "/posts",
  },
];
links = links.map((x) => ({
  name: x.name,
  route: "/" + lang + x.route,
}));
---

<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold"> Tricked.pro </span>
  </div>
  <div class="flex-1 px-2 mx-2">
    <div class="items-stretch hidden lg:flex">
      <Links {links} />
    </div>
    <div class="">
      <ThemeSelect client:load />
    </div>
  </div>
</div>

<!-- <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-3">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">Tricked.pro</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-blue-900 border-blue-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <Links {links} />
  </div>
</nav> -->
