$body: #32407b;
$background: #151965;
$extra: #515585;
$extra2: #46b5d1;
$text: #9999a0;
@import url('https://fonts.google.com/specimen/Lora?selection.family=Lora');

@import 'styles/sidenav';

@import 'styles/body';

@import 'styles/base';
