@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.posts table {
  padding: 6px, 6px, 6px, 6px;

  border-collapse: collapse;
}

.posts th,
td {
  border: 0.1rem solid white;
}

@keyframes stranim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes hide {
  to {
    opacity: 0.000001;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes fillanim {
  to {
    fill-opacity: 1;
  }
}

@keyframes go {
  to {
    transform: scaleX(1);
  }
}

#circle {
  stroke-dasharray: 322px;
  stroke-dashoffset: 322px;
  animation: stranim 1.7s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

#body {
  stroke: black;
  stroke-dashoffset: 208px;
  stroke-dasharray: 208px;
  animation: stranim 2s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

#Ellipse {
  stroke: black;
  stroke-dasharray: 6px;
  stroke-dashoffset: 6px;
  animation: stranim 2.2s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

:is(#Vector, #eye, #main, .original path) {
  opacity: 0.00001;
  animation: opacity 1s ease-in-out 1.7s forwards;
}

#svg_7 {
  stroke-dasharray: 414px;
  stroke-dashoffset: 414px;
  animation: stranim 1.7s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

#svg_8 {
  stroke-dasharray: 458px;
  stroke-dashoffset: 458px;
  animation: stranim 2s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

#old > path {
  opacity: 0.00001;
  animation: opacity 1s ease-in-out forwards;
}

#old-orange {
  animation-delay: 1.7s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#old-pink {
  animation-delay: 1.9s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#old-bloo {
  animation-delay: 2.1s !important;
  stroke-dasharray: 132.0081787109375px;
  stroke-dashoffset: 132.0081787109375px;
}

#old-prpl {
  animation-delay: 2.3s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#old-green {
  animation-delay: 2.5s !important;
  stroke-dasharray: 141.0063018798828px;
  stroke-dashoffset: 141.0063018798828px;
}

#new > path {
  animation: stranim 2s ease-in-out forwards;
}

#orangeS {
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#pinkS {
  animation-delay: 0.2s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#blooS {
  animation-delay: 0.5s !important;
  stroke-dasharray: 132.0081787109375px;
  stroke-dashoffset: 132.0081787109375px;
}

#prplS {
  animation-delay: 0.7s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#greenS {
  animation-delay: 1s !important;
  stroke-dasharray: 141.0063018798828px;
  stroke-dashoffset: 141.0063018798828px;
}

#main {
  animation-delay: 6.1s !important;
}

#gears {
  stroke-dasharray: 450.7996826171875px;
  stroke-dashoffset: 450.7996826171875px;
  animation: stranim 3s ease-in-out 1.7s forwards;
}

#circles > path {
  stroke-dasharray: 111.09793090820312px;
  stroke-dashoffset: 111.09793090820312px;
  animation: stranim 3s ease-in-out 1.7s forwards;
}

#circles > path:nth-child(2) {
  animation-delay: 2s !important;
}

#circles > path:nth-child(4) {
  animation-delay: 2.3s !important;
}

#circles > path:nth-child(5) {
  animation-delay: 2.6s !important;
}

#circles > path:nth-child(3) {
  animation-delay: 2.9s !important;
}

#R1 {
  stroke-dasharray: 211.16099548339844px;
  stroke-dashoffset: 211.16099548339844px;
  animation: stranim 3s ease-in-out 3s forwards;
}

#R2 {
  stroke-dasharray: 70.64369201660156px;
  stroke-dashoffset: 70.64369201660156px;
  animation: stranim 3s ease-in-out 3s forwards;
}
#R3 {
  stroke-dasharray: 190.21678161621094px;
  stroke-dashoffset: 190.21678161621094px;
  animation: stranim 3s ease-in-out 3s forwards;
}

#R4 {
  stroke-dasharray: 45.83991622924805px;
  stroke-dashoffset: 45.83991622924805px;
  animation: stranim 3s ease-in-out 3s forwards;
}

#G {
  stroke-dasharray: 253.16680908203125px;
  stroke-dashoffset: 253.16680908203125px;
  animation: stranim 3s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.7s forwards;
  fill-opacity: 0.0000001;
}

#O {
  stroke-dasharray: 218.99244689941406px;
  stroke-dashoffset: 218.99244689941406px;
  animation: stranim 3s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.7s forwards;
  fill-opacity: 0.0000001;
}

:is(#first, #second, #third) {
  transform: scaleX(0);
}

#first {
  animation: go 2s ease-in-out 3s forwards;
}

#second {
  animation: go 1.5s ease-in-out 4s forwards;
}

#third {
  animation: go 2.5s ease-in-out 2s forwards;
}

#Firefox > path {
  fill-opacity: 0.0000001;
  stroke-width: 15px;
}

#lwl {
  stroke-dasharray: 12157.626953125px;
  stroke-dashoffset: 12157.626953125px;
  animation: stranim 3s ease-in-out 0s forwards, fillanim 1.5s ease-in-out 3s forwards;
}

#tani {
  stroke-dasharray: 2911.82470703125px;
  stroke-dashoffset: 2911.82470703125px;
  animation: stranim 3s ease-in-out 0.5s forwards, fillanim 1.5s ease-in-out 3.2s forwards;
}

#talet {
  stroke-dasharray: 3315.058349609375px;
  stroke-dashoffset: 3315.058349609375px;
  animation: stranim 3s ease-in-out 1s forwards, fillanim 1.5s ease-in-out 3.4s forwards;
}

#rabe3 {
  stroke-dasharray: 3443.279296875px;
  stroke-dashoffset: 3443.279296875px;
  animation: stranim 3s ease-in-out 1.5s forwards, fillanim 1.5s ease-in-out 3.6s forwards;
}

#khames {
  stroke-dasharray: 8901.6025390625px;
  stroke-dashoffset: 8901.6025390625px;
  animation: stranim 3s ease-in-out 2s forwards, fillanim 1.5s ease-in-out 3.8s forwards;
}

#sades {
  stroke-dasharray: 894.7145385742188px;
  stroke-dashoffset: 894.7145385742188px;
  animation: stranim 3s ease-in-out 2.5s forwards, fillanim 1.5s ease-in-out 4s forwards;
}

#sabe3 {
  stroke-dasharray: 4201.8681640625px;
  stroke-dashoffset: 4201.8681640625px;
  animation: stranim 3s ease-in-out 3s forwards, fillanim 1.5s ease-in-out 4.2s forwards;
}

#tamen {
  stroke-dasharray: 4201.8681640625px;
  stroke-dashoffset: 4201.8681640625px;
  animation: stranim 3s ease-in-out 3.5s forwards, fillanim 1.5s ease-in-out 4.4s forwards;
}

#tase3 {
  stroke-dasharray: 2399.7216796875px;
  stroke-dashoffset: 2399.7216796875px;
  animation: stranim 3s ease-in-out 4s forwards, fillanim 1.5s ease-in-out 4.6s forwards;
}

#acher {
  stroke-dasharray: 8345.2119140625px;
  stroke-dashoffset: 8345.2119140625px;
  animation: stranim 3s ease-in-out 4.5s forwards, fillanim 1.5s ease-in-out 4.8s forwards;
}

#hadech {
  stroke-dasharray: 8345.2119140625px;
  stroke-dashoffset: 8345.2119140625px;
  animation: stranim 3s ease-in-out 5s forwards, fillanim 1.5s ease-in-out 5s forwards;
}

#tanech {
  stroke-dasharray: 8619.8857421875px;
  stroke-dashoffset: 8619.8857421875px;
  animation: stranim 3s ease-in-out 5.5s forwards, fillanim 1.5s ease-in-out 5.2s forwards;
}

#Git > path {
  fill-opacity: 0.0000041;
  stroke-dasharray: 644.1839599609375px;
  stroke-dashoffset: 644.1839599609375px;
  animation: stranim 3s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.7s forwards;
}

#dots {
  fill-opacity: 0.000001;
  animation: fillanim 1s ease-in-out 4.7s forwards;
}

#github {
  fill-opacity: 0.00004;
  stroke-dasharray: 696.9649047851562px;
  stroke-dashoffset: 696.9649047851562px;
  animation: stranim 3s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.7s forwards;
}

#N {
  fill-opacity: 0.00001;
  stroke-dasharray: 765.3524780273438px;
  stroke-dashoffset: 765.3524780273438px;
  animation: stranim 3s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 3.7s forwards;
}

#bg,
#pg,
#ub,
#wahed,
#zoj,
#tla,
#ta,
#vsc,
#c,
#ca,
#o,
#i {
  fill-opacity: 0.000001;
  animation: fillanim 1s ease-in-out 4.2s forwards;
}

#original {
  fill-opacity: 0.00001;
  stroke-dasharray: 949.564697265625px;
  stroke-dashoffset: 949.564697265625px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 3.7s forwards;
}

#Njs {
  fill-opacity: 0.00001;
  stroke-dasharray: 1104.76318359375px;
  stroke-dashoffset: 1104.76318359375px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#VS {
  stroke-dasharray: 833.6484985351562px;
  stroke-dashoffset: 833.6484985351562px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#ub {
  stroke-dasharray: 954.9606323242188px;
  stroke-dashoffset: 954.9606323242188px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#wahed {
  stroke-dasharray: 339.4634094238281px;
  stroke-dashoffset: 339.4634094238281px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#flat {
  stroke-dasharray: 852.0916137695312px;
  stroke-dashoffset: 852.0916137695312px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards, hide 0.5s ease-in-out 4.5s forwards;
}

#cs {
  stroke-dasharray: 664.6370239257812px;
  stroke-dashoffset: 664.6370239257812px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards, hide 0.5s ease-in-out 4.5s forwards;
}

#cas {
  stroke-dasharray: 311.0260925292969px;
  stroke-dashoffset: 311.0260925292969px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards, hide 0.5s ease-in-out 4.5s forwards;
}
#os {
  stroke-dasharray: 101.0206527709961px;
  stroke-dashoffset: 101.0206527709961px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#is {
  stroke-dasharray: 670.9763793945312px;
  stroke-dashoffset: 670.9763793945312px;
  animation: stranim 5s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}
