@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.posts table {
  padding: 6px, 6px, 6px, 6px;

  border-collapse: collapse;
}

.posts th,
td {
  border: 0.1rem solid white;
}

@keyframes stranim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes hide {
  to {
    opacity: 0.000001;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes fillanim {
  to {
    fill-opacity: 1;
  }
}

@keyframes scale {
  to {
    transform: scaleX(1);
  }
}

#denoCircle {
  stroke-dasharray: 322px;
  stroke-dashoffset: 322px;
  animation: stranim 2.2s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

#denoBody {
  stroke-dashoffset: 208px;
  stroke-dasharray: 208px;
  animation: stranim 2.4s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

#denoEyes {
  stroke-dasharray: 6px;
  stroke-dashoffset: 6px;
  animation: stranim 2.6s ease-in-out forwards, hide 1s ease-in-out 1.7s forwards;
}

:is(#deno, #denoEye, #rust, .cssOriginal path) {
  opacity: 0.00001;
  animation: opacity 1s ease-in-out 2s forwards;
}

#cssStroke1 {
  stroke-dasharray: 414px;
  stroke-dashoffset: 414px;
  animation: stranim 1.7s ease-in-out forwards, hide 1s ease-in-out 1.5s forwards;
}

#cssStroke2 {
  stroke-dasharray: 458px;
  stroke-dashoffset: 458px;
  animation: stranim 2s ease-in-out forwards, hide 1s ease-in-out 1.5s forwards;
}

#firgmaOriginal > path {
  opacity: 0.00001;
  animation: opacity 1s ease-in-out forwards;
}

#firgmaOriginal-orange {
  animation-delay: 1.7s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#firgmaOriginal-pink {
  animation-delay: 1.9s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#firgmaOriginal-bloo {
  animation-delay: 2.1s !important;
  stroke-dasharray: 132.0081787109375px;
  stroke-dashoffset: 132.0081787109375px;
}

#firgmaOriginal-prpl {
  animation-delay: 2.3s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#firgmaOriginal-green {
  animation-delay: 2.5s !important;
  stroke-dasharray: 141.0063018798828px;
  stroke-dashoffset: 141.0063018798828px;
}

#firgmaNew > path {
  animation: stranim 2s ease-in-out forwards;
}

#firgmaNew-orangeStroke {
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#firgmaNew-pinkStroke {
  animation-delay: 0.4s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#firgmaNew-blooStroke {
  animation-delay: 0.7s !important;
  stroke-dasharray: 132.0081787109375px;
  stroke-dashoffset: 132.0081787109375px;
}

#firgmaNew-prplStroke {
  animation-delay: 1s !important;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
}

#firgmaNew-greenStroke {
  animation-delay: 1.3s !important;
  stroke-dasharray: 141.0063018798828px;
  stroke-dashoffset: 141.0063018798828px;
}

#rust {
  animation-delay: 3s !important;
}

#gears {
  stroke-dasharray: 450.7996826171875px;
  stroke-dashoffset: 450.7996826171875px;
  animation: stranim 3s ease-in-out 0.4s forwards;
}

#rustCircle > path {
  stroke-dasharray: 111.09793090820312px;
  stroke-dashoffset: 111.09793090820312px;
  animation: stranim 2s ease-in-out 0.4s forwards;
}

#rustCircle2 {
  animation-delay: 0.6s !important;
}

#rustCircle4 {
  animation-delay: 0.8s !important;
}

#rustCircle5 {
  animation-delay: 1s !important;
}

#rustCircle3 {
  animation-delay: 1.2s !important;
}

#rustR1 {
  stroke-dasharray: 211.16099548339844px;
  stroke-dashoffset: 211.16099548339844px;
  animation: stranim 2s ease-in-out 1s forwards;
}

#rustR2 {
  stroke-dasharray: 70.64369201660156px;
  stroke-dashoffset: 70.64369201660156px;
  animation: stranim 2s ease-in-out 1.2s forwards;
}
#rustR3 {
  stroke-dasharray: 190.21678161621094px;
  stroke-dashoffset: 190.21678161621094px;
  animation: stranim 2s ease-in-out 1.4s forwards;
}

#rustR4 {
  stroke-dasharray: 45.83991622924805px;
  stroke-dashoffset: 45.83991622924805px;
  animation: stranim 2s ease-in-out 1.6s forwards;
}

#goG {
  stroke-dasharray: 253.16680908203125px;
  stroke-dashoffset: 253.16680908203125px;
  animation: stranim 2s ease-in-out 0.7s forwards, fillanim 1s ease-in-out 3.5s forwards;
}

#goO {
  stroke-dasharray: 218.99244689941406px;
  stroke-dashoffset: 218.99244689941406px;
  animation: stranim 2s ease-in-out 0.7s forwards, fillanim 1s ease-in-out 3.5s forwards;
}

:is(#goFirst, #goSecond, #goThird) {
  transform: scaleX(0);
}

#goFirst {
  animation: scale 2s ease-in-out 2.5s forwards;
}

#goSecond {
  animation: scale 1.5s ease-in-out 3s forwards;
}

#goThird {
  animation: scale 2.5s ease-in-out 2s forwards;
}

#fireFox > path {
  fill-opacity: 0.0000001;
  stroke-width: 10px;
}

#fireFox1 {
  stroke-dasharray: 12157.626953125px;
  stroke-dashoffset: 12157.626953125px;
  animation: stranim 3s ease-in-out 0s forwards, fillanim 1.5s ease-in-out 2.4s forwards;
}

#fireFox2 {
  stroke-dasharray: 2911.82470703125px;
  stroke-dashoffset: 2911.82470703125px;
  animation: stranim 3s ease-in-out 0.2s forwards, fillanim 1.5s ease-in-out 2.5s forwards;
}

#fireFox3 {
  stroke-dasharray: 3315.058349609375px;
  stroke-dashoffset: 3315.058349609375px;
  animation: stranim 3s ease-in-out 0.4s forwards, fillanim 1.5s ease-in-out 2.6s forwards;
}

#fireFox4 {
  stroke-dasharray: 3443.279296875px;
  stroke-dashoffset: 3443.279296875px;
  animation: stranim 3s ease-in-out 0.6s forwards, fillanim 1.5s ease-in-out 2.7s forwards;
}

#fireFox5 {
  stroke-dasharray: 8901.6025390625px;
  stroke-dashoffset: 8901.6025390625px;
  animation: stranim 3s ease-in-out 0.8s forwards, fillanim 1.5s ease-in-out 2.8s forwards;
}

#fireFox6 {
  stroke-dasharray: 894.7145385742188px;
  stroke-dashoffset: 894.7145385742188px;
  animation: stranim 3s ease-in-out 1s forwards, fillanim 1.5s ease-in-out 2.9s forwards;
}

#fireFox7 {
  stroke-dasharray: 4201.8681640625px;
  stroke-dashoffset: 4201.8681640625px;
  animation: stranim 3s ease-in-out 1.2s forwards, fillanim 1.5s ease-in-out 3s forwards;
}

#fireFox8 {
  stroke-dasharray: 4201.8681640625px;
  stroke-dashoffset: 4201.8681640625px;
  animation: stranim 3s ease-in-out 1.4s forwards, fillanim 1.5s ease-in-out 3.1s forwards;
}

#fireFox9 {
  stroke-dasharray: 2399.7216796875px;
  stroke-dashoffset: 2399.7216796875px;
  animation: stranim 3s ease-in-out 1.6s forwards, fillanim 1.5s ease-in-out 3.2s forwards;
}

#fireFox10 {
  stroke-dasharray: 8345.2119140625px;
  stroke-dashoffset: 8345.2119140625px;
  animation: stranim 3s ease-in-out 1.8s forwards, fillanim 1.5s ease-in-out 3.3s forwards;
}

#fireFox11 {
  stroke-dasharray: 8345.2119140625px;
  stroke-dashoffset: 8345.2119140625px;
  animation: stranim 3s ease-in-out 2s forwards, fillanim 1.5s ease-in-out 3.4s forwards;
}

#fireFox12 {
  stroke-dasharray: 8619.8857421875px;
  stroke-dashoffset: 8619.8857421875px;
  animation: stranim 3s ease-in-out 2.2s forwards, fillanim 1.5s ease-in-out 3.5s forwards;
}

:is(#git > path, #githubDots, #github, #njs, #ts, #Njs, #goO, #goG) {
  fill-opacity: 0.000001;
}

#git > path {
  stroke-dasharray: 644.1839599609375px;
  stroke-dashoffset: 644.1839599609375px;
  animation: stranim 3s ease-in-out 1.7s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#githubDots {
  animation: fillanim 1s ease-in-out 5s forwards;
}

#github {
  stroke-dasharray: 696.9649047851562px;
  stroke-dashoffset: 696.9649047851562px;
  animation: stranim 3s ease-in-out 2s forwards, fillanim 1s ease-in-out 5s forwards;
}

#Njs {
  stroke-dasharray: 765.3524780273438px;
  stroke-dashoffset: 765.3524780273438px;
  animation: stranim 4.3s ease-in-out 2.2s forwards, fillanim 1s ease-in-out 5.3s forwards;
}

:is(#tsBg, #postgres, #ubuntu, #wahed, #vsc, #yarnCat, #yarnCircle, #intellijI, #intellijO, #consoleStroke + path) {
  fill-opacity: 0.000001;
  animation: fillanim 1s ease-in-out 6s forwards;
}

#ts {
  stroke-dasharray: 949.564697265625px;
  stroke-dashoffset: 949.564697265625px;
  animation: stranim 5.6s ease-in-out 2.4s forwards, fillanim 1s ease-in-out 5.6s forwards;
}

#njs {
  stroke-dasharray: 1104.76318359375px;
  stroke-dashoffset: 1104.76318359375px;
  animation: stranim 6s ease-in-out 2.6s forwards, fillanim 1s ease-in-out 6.5s forwards;
}

#postgres {
  animation-delay: 7s !important;
}

#postgresStroke {
  stroke-dasharray: 833.6484985351562px;
  stroke-dashoffset: 833.6484985351562px;
  animation: stranim 8.7s ease-in-out 2.8s forwards;
}

#ubuntu {
  stroke-dasharray: 954.9606323242188px;
  stroke-dashoffset: 954.9606323242188px;
  animation: stranim 11s ease-in-out 3s forwards, fillanim 1s ease-in-out 7.5s forwards !important;
}

#vsc {
  animation-delay: 8s !important;
}

#vscFlat {
  stroke-dasharray: 852.0916137695312px;
  stroke-dashoffset: 852.0916137695312px;
  animation: stranim 12s ease-in-out 3.2s forwards, hide 0.5s ease-in-out 8s forwards;
}

:is(#yarnCat, #yarnCircle) {
  animation-delay: 8.5s !important;
}

#yarnCircleStroke {
  stroke-dasharray: 664.6370239257812px;
  stroke-dashoffset: 664.6370239257812px;
  animation: stranim 10s ease-in-out 3.4s forwards, hide 0.5s ease-in-out 9s forwards;
}

#yarnCatStroke {
  stroke-dasharray: 311.0260925292969px;
  stroke-dashoffset: 311.0260925292969px;
  animation: stranim 10s ease-in-out 3.4s forwards, hide 0.5s ease-in-out 9s forwards;
}

:is(#intellijI, #intellijO) {
  animation-delay: 9s !important;
}

#intellijOStroke {
  stroke-dasharray: 101.0206527709961px;
  stroke-dashoffset: 101.0206527709961px;
  animation: stranim 5s ease-in-out 5s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#intellijIStroke {
  stroke-dasharray: 670.9763793945312px;
  stroke-dashoffset: 670.9763793945312px;
  animation: stranim 10s ease-in-out 3.6s forwards, fillanim 1s ease-in-out 4.5s forwards;
}

#consoleStroke + path {
  animation-delay: 9.5s !important;
}

#consoleStroke {
  stroke-dasharray: 811.7780151367188px;
  stroke-dashoffset: 811.7780151367188px;
  animation: stranim 12s ease-in-out 3.8s forwards, hide 0.5s ease-in-out 9.5s forwards;
}

#consoleLine {
  transform: scaleX(0);
  animation: scale 2s ease-in-out 7.5s forwards;
}
