@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tools.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* .posts table {
  padding: 6px, 6px, 6px, 6px;

  border-collapse: collapse;
}

.posts th,
td {
  border: 0.1rem solid white;
} */
