@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.posts ul > li {
  margin-left: 15px;
}

li:not(:first-child) {
  margin-left: 4rem;
}

ul {
  margin-left: 10px;
}
